
.color{
    position: relative;
    width: 100%;
    height: 200px;
    cursor: pointer;
}
.color:focus {
    outline: none;
}

@media (min-width: 40rem){
    .color{
        width: calc(100% / 3);
        height: 200px;
    }
}

.color__year{
    position: absolute;
    top: 0;
    left:0;
    padding-left: 0.5rem;
}
.color__pantone{
    position: absolute;
    bottom: 0;
    right:0;
    padding-right: 0.5rem;
}
.color__description{
    /* display: none; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0; 
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
.color:hover .color__description,
.color:active .color__description
{
    display: none;
}

.color__code{
    font-weight: 700;
}

.color__copy{
    display: none;
    font-size: 1.5rem;
    transition: font-size 0.1s ease-in;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
}
.color__copy-text{
    border: 2px solid #ffffff96;
    color:#ffffffe7;
    padding: 0.5rem;
    border-radius: 10px;
}
.color:hover .color__copy
{
    
    display: block;
}

.color:active .color__copy
{
    
    font-size: 1.4rem;
}

.color__copied {
    font-size: 1.5rem;
}