@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");

* {
    box-sizing: border-box;
}
html{
    height: 100%;
}


body {
    background-color: #eee;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

#root{
    height: 100%;
}

h1,h2,h3{
    color:#ffffff;
    font-weight: 700; 
}
